.tag-li {
    list-style: none;
}

.tag-link {
    text-decoration: none;
    color: green;
}
.tags {
    padding: 0;
}

ul {
    margin-top: 10px;
}

.tag {
    margin-right: 20px;
}

a button img {
    width: 20px;
}

.article-text {
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

